body {
  padding: 20px;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
}

.list__item {
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
}